	<div class="wrapper wrapper-content">
		<div class="row">
			<div class="col-lg-12">
				<div class="tabs-container">
					<uib-tabset>
							<uib-tab heading="{{'SETTING.HELP_FILE_LIST' | translate}}">
								<div class="panel-body" ng-controller="HelpFileController">
									<div id="dropzone1" class="dropzone" options="dzOptions" callbacks="dzCallbacks" ng-dropzone></div>
									<table class="table table-bordered table-hover" >
										<thead>
											<tr>
												<th class="text-center">{{'SETTING.ID' | translate}}</th>
												<th class="text-center">{{'SETTING.NAME' | translate}}</th>
												<th class="text-center">{{'SETTING.UPLOAD_NAME' | translate}}</th>
												<th class="text-center">{{'SETTING.UPLOADTIME' | translate}}</th>
												<th class="text-center">{{'SETTING.ACTION' | translate}}</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="helpfile in helpfiles">
												<td class="text-center">{{ helpfile.id }}</td>
												<td class="text-center"><a href="./upload/{{helpfile.uuid}}" download="{{helpfile.file_name}}">{{ helpfile.file_name }}</a></td>
												<td class="text-center">{{ helpfile.user_display_name }}</td>
												<td class="text-center">{{ helpfile.upload_datetime | date:'yyyy-MM-dd HH:mm'}}</td>
												<td class="text-center">
													<a ng-click="deleteHelpFile(helpfile)" class="btn btn-danger btn-rounded btn-xs" >{{'SETTING.DELETE' | translate}}</a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</uib-tab>
					</uib-tabset>
				</div>
			</div>
		</div>
	</div>
